name: Docker Demo on Self-Hosted Runner

on:
  push:
    branches:
      - master

jobs:
  demo:
    runs-on: self-hosted # Runs on your self-hosted runner
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to GitHub Packages
        run: echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Pull Latest Docker Images
        run: |
          docker pull ghcr.io/techsoft3d/streaming-server:latest
          docker pull ghcr.io/techsoft3d/node-server:latest

      - name: Build and Run Docker Containers
        run: |
          docker-compose up -d --force-recreate
